<h2>Kanban Project Management Tool</h2>

<div class="profile-wrapper">
  <nav class="header-nav">
    <a href="../../html/help.html">
      <img src="../assets/icons/btn/help-icon-header.svg" alt="help-icon" />
    </a>
    <div id="initials" class="header-profile">DR</div>
  </nav>
  <div id="dropdown" class="dropdown-menu">
    <a href="/html/legal-notice.html">Legal Notice</a>
    <a href="/html/privacy-policy.html">Privacy Policy</a>
    <a href="/index.html">Log out</a>
  </div>
</div>

<!-- Mobile dropdown-menu -->
<!-- <a href="/html/help.html">Help</a>
<a href="/html/legal-notice.html">Legal Notice</a>
<a href="/html/privacy-policy.html">Privacy Policy</a>
<a href="/index.html">Log out</a> -->