<div class="sidebar-wrapper">
  <img src="./assets/icons/sidebar/joinLogo.svg" alt="Join Logo">
  <nav class="sidebar-nav">
    <a href="summary.html" class="nav-element" 
        onmouseenter="setIcon(this, 'iconSummaryWhite.svg')" 
        onmouseleave="setIcon(this, 'iconSummaryGrey.svg')">
      <img src="./assets/icons/sidebar/iconSummaryGrey.svg" alt="summary logo" id="contacts-logo">
      Summary
    </a>
    <a href="#" class="nav-element"
        onmouseenter="setIcon(this, 'iconAddWhite.svg')" 
        onmouseleave="setIcon(this, 'iconAddGrey.svg')">
      <img src="./assets/icons/sidebar/iconAddGrey.svg" alt="add task logo" id="contacts-logo">
      Add task
    </a>
    <a href="#" class="nav-element"
        onmouseenter="setIcon(this, 'iconBoardWhite.svg')" 
        onmouseleave="setIcon(this, 'iconBoardGrey.svg')">
      <img src="./assets/icons/sidebar/iconBoardGrey.svg" alt="board logo" id="contacts-logo">
      Board
    </a>
    <a href="#" class="nav-element"
        onmouseenter="setIcon(this, 'iconContactsWhite.svg')" 
        onmouseleave="setIcon(this, 'iconContactsGrey.svg')">
      <img src="./assets/icons/sidebar/iconContactsGrey.svg" alt="contacts logo" id="contacts-logo">
      Contacts
    </a>
  </nav>
  <div class="legal">
    <a href="#">Privacy Police</a>
    <a href="#">Legal notice</a>
  </div>
</div>