<div class="sidebar-wrapper">
  <img src="../assets/icons/logo/joinLogo.svg" alt="Join Logo">
  <nav class="sidebar-nav">
    <a href="../../html/summary.html" class="nav-element"
        onmouseenter="setSidebarIcon(this, 'iconSummaryWhite.svg')"
        onmouseleave="setSidebarIcon(this, 'iconSummaryGrey.svg')">
      <img src="../assets/icons/sidebar/iconSummaryGrey.svg" alt="summary logo" id="contacts-logo">
      Summary
    </a>
    <a href="../../html/add-task.html" class="nav-element"
        onmouseenter="setSidebarIcon(this, 'iconAddWhite.svg')"
        onmouseleave="setSidebarIcon(this, 'iconAddGrey.svg')">
      <img src="../assets/icons/sidebar/iconAddGrey.svg" alt="add task logo" id="contacts-logo">
      Add task
    </a>
    <a href="../../html/board-site.html" class="nav-element"
        onmouseenter="setSidebarIcon(this, 'iconBoardWhite.svg')"
        onmouseleave="setSidebarIcon(this, 'iconBoardGrey.svg')">
      <img src="../assets/icons/sidebar/iconBoardGrey.svg" alt="board logo" id="contacts-logo">
      Board
    </a>
    <a href="../../html/contacts.html" class="nav-element"
        onmouseenter="setSidebarIcon(this, 'iconContactsWhite.svg')"
        onmouseleave="setSidebarIcon(this, 'iconContactsGrey.svg')">
      <img src="../assets/icons/sidebar/iconContactsGrey.svg" alt="contacts logo" id="contacts-logo">
      Contacts
    </a>
  </nav>
  <div class="legal">
    <a href="#">Privacy Police</a>
    <a href="#">Legal notice</a>
  </div>
</div>
