body,
html {
    margin: 0;
    height: 100%;
}


.app-container {
    display: flex;
    height: 100vh;
}

.test-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 232px;
    height: 100%;
    background-color: #2A3647;
}

.main-content {
    margin-left: 232px;
    width: calc(100% - 232px);
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    height: 96px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;
    overflow-y: auto;
    background-color: #F6F7F8;
}

.form-fill-part{
    display: flex;
}

.left-form{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
}

.required::after {
  content: "*";
  color: #FF8190;
}

.border{
    height: 424px;
    width: 0;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
}

.form-buttons-part{
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}