/* Dann bleibt das Layout komplett intakt, und die HTML5-Validierung funktioniert trotzdem sauber. */
form {
    display: contents;
}

/* Contacts */

body,
html {
    margin: 0;
    height: 100%;
    background-color: var(--lightGrey);
    font-family: 'Inter', sans-serif;
}

.contacts-main {
    display: flex;
    min-height: calc(100vh - 96px);
}

.contacts-sidebar {
    width: 456px;
    background-color: var(--white);
    border-right: 4px solid #eee;
    overflow-y: auto;
    padding: 0 24px;
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.1);
}

.contacts-details {
    flex-grow: 1;
    padding-top: 101px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--lightGrey);
    position: relative;
    overflow: hidden;
}

.contacts-text-separator {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contacts-text-separator h1 {
    font-size: 61px;
}

.contacts-text-separator span {
    font-size: 27px;
}

.contacts-divider {
    height: 59px;
    width: 3px;
    background-color: var(--lightBlue);
    border-radius: 10px;
}

.contact-section {
    margin: 20px 0;
}

.contact-initial {
    font-weight: 400;
    border-bottom: 1px solid var(--white);
    font-size: 20px;
    border-bottom: 1px solid var(--grey);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 35px;
    margin-left: 25px;
    max-width: 352px;
}

.contact {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    width: 352px;
    margin-left: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contact:hover:not(.active) {
    background: linear-gradient(to bottom, #f8f8f8, #f0f0f0);
    cursor: pointer;
    border-radius: 8px;
}

.contact.active {
    background-color: var(--dark);
    color: var(--white);
    border-radius: 8px;
}

.contact.active .contact-name {
    color: var(--white);
}

.contact-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    font-size: 12px;
    color: var(--white);
    box-sizing: border-box;
    border: 2px solid var(--white);
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-size: 20px;
    font-weight: 400;
}

.contact-email {
    font-size: 16px;
    font-weight: 400;
    color: var(--lightBlue);
}

.contact-email a {
    color: var(--lightBlue);
}

.contact-details-card {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    width: 100%;
    padding: 32px 0;
    border-radius: 12px;
}

.contact-details-card.visible {
    opacity: 1;
    transform: translateX(0);
}

.contact-details-header {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}

.contact-details-avatar-big {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 47px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--white);
    color: var(--white);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.contact-details-name-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-details-name-actions h2 {
    font-size: 47px;
    font-weight: 100;
}

.contact-details-actions {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
}


.contact-details-card-icon-button {
    border: none;
    color: var(--dark);
    background-color: var(--lightGrey);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 2px;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
    will-change: transform;
    width: 60px;
}

.contact-details-card-icon-button img {
    width: 16px;
    height: 16px;
    transition: filter 0.3s ease;
}

.contact-details-card-icon-button:hover {
    color: var(--lightBlue);
}

.contact-details-card-icon-button:hover img {
    filter: brightness(0) saturate(100%) invert(64%) sepia(43%) saturate(640%) hue-rotate(168deg) brightness(97%) contrast(87%);
}

.edit-button:hover {
    transform: translateX(2px);
    font-weight: 700;
}

.delete-button:hover {
    transform: translateX(-2px);
}

.contact-details-info-block {
    margin-top: 24px;
}

.contact-details-info-block h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
}

.contact-details-info-block p {
    font-size: 16px;
    font-weight: 400;
}

.contact-details-info-block a {
    color: var(--lightBlue);
}

/* Add new contact Button */

.add-new-contact-button {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--white);
    background-color: var(--dark);
    border-radius: 8px;
    font-weight: 700;
    border: unset;
    cursor: pointer;
    font-size: 21px;
    margin-bottom: 16px;
    padding: 8px 50px;
    width: 352px;
    height: 52px;
}

.add-new-contact-button:hover {
    background-color: var(--lightBlue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.add-new-contact-button-div {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101px;
    top: 0px;
    background-color: var(--white);
}

/* neu add contact small window */

.overlay-wrapper {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
}

.overlay-content {
    display: flex;
    width: auto;
    height: 512px;
    background-color: var(--white);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.overlay-left {
    width: 453px;
    background-color: var(--dark);
    color: var(--white);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
}

.overlay-left h2 {
    font-size: 61px;
    margin: 0;
    font-weight: 700;
    padding: 0;
}

.overlay-left p {
    font-size: 27px;
}

.overlay-left .underline {
    width: 90px;
    height: 3px;
    background-color: var(--lightBlue);
    margin-top: 12px;
    border-radius: 2px;
}

.overlay-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-width: 0;
    position: relative;
    padding: 40px 0;
}

.overlay-close {
    position: absolute;
    top: 34px;
    right: 34px;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: #333;
    height: 35px;
    width: 35px;
}

.overlay-close:hover {
    background-color: var(--lightGrey);
    border-radius: 50%;

}

.overlay-form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    height: auto;
    flex-grow: 1;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 48px;
}

.form-row-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-add-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--borderGrey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 3px solid var(--white);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    margin-left: 16px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 420px;
}

.input-wrapper {
    position: relative;
    width: 420px;
}

.input-wrapper input {
    width: 100%;
    padding: 12px 40px 12px 16px;
    font-size: 16px;
    border: 1px solid var(--lightGrey);
    border-radius: 8px;
    box-sizing: border-box;
}

.input-wrapper input:focus {
    border: 1px solid var(--lightBlue);
    outline: none;
}

.input-wrapper input:hover:not(:focus) {
    border: 1px solid var(--lightBlue);
}

.input-wrapper img {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

.overlay-actions {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 20px;
}

.overlay-actions button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.overlay-logo {
    height: 55px;
}

#cancelOverlayBtn {
    background-color: var(--white);
    color: var(--dark);
    border: 1px solid var(--dark);
    font-size: 20px;
}

#cancelOverlayBtn:hover {
    color: var(--lightBlue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--lightBlue);
}

#cancelOverlayBtn:hover img {
    filter: invert(61%) sepia(56%) saturate(748%) hue-rotate(167deg) brightness(95%) contrast(91%);
}

#createContactBtn {
    background-color: var(--dark);
    color: var(--white);
    font-size: 21px;
}

#createContactBtn:hover {
    background-color: var(--lightBlue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#deleteContactBtn {
    background-color: var(--white);
    color: var(--dark);
    border: 1px solid var(--dark);
    font-size: 20px;
}

#deleteContactBtn:hover {
    color: var(--lightBlue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--lightBlue);
}

#saveEditBtn {
    background-color: var(--dark);
    color: var(--white);
    font-size: 21px;
}

#saveEditBtn:hover {
    background-color: var(--lightBlue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none !important;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

.overlay-wrapper.active {
    opacity: 1;
}

.overlay-wrapper.slide-in .overlay-content {
    animation: slideInRight 0.4s ease forwards;
}

.overlay-wrapper.slide-out .overlay-content {
    animation: slideOutRight 0.4s ease forwards;
}

.overlay-wrapper.hidden {
    display: none !important;
}


/* Contact successfully created */
#contactSuccessMsg {
    position: fixed;
    bottom: 100px;
    left: 720px;
    background-color: var(--dark);
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform: translateX(150%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contactSuccessMsg.slide-in {
    transform: translateX(0);
    opacity: 1;
}

#contactSuccessMsg.slide-out {
    transform: translateX(150%);
    opacity: 0;
}

#contactSuccessMsg.hidden {
    display: none;
}