/* Contacts */

body,
html {
    margin: 0;
    height: 100%;
    background-color: #f6f7f8;
    font-family: 'Inter', sans-serif;
}

.main-content {
    width: calc(100% - 232px);
    display: flex;
    flex-direction: column;
}

.app-container {
    display: flex;
    height: 100vh;
}

.contacts-main {
    display: flex;
    min-height: calc(100vh - 96px);
}

.contacts-sidebar {
    width: 456px;
    background-color: white;
    border-right: 1px solid #eee;
    overflow-y: auto;
    padding-left: 24px;
}

.contacts-details {
    flex-grow: 1;
    padding-top: 101px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #f6f7f8;
}

.contacts-list {
    height: 100vh;
}

.contacts-text-separator {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contacts-text-separator h1 {
    font-size: 61px;
}

.contacts-text-separator span {
    font-size: 27px;
}

.contacts-divider {
    height: 59px;
    width: 3px;
    background-color: #29abe2;
    border-radius: 10px;
}

.contact-section {
    margin-bottom: 20px;
}

.contact-initial {
    font-weight: bold;
    margin: 10px 0 5px;
    border-bottom: 1px solid #eee;
}

.contact {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.contact:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    border-radius: 8px;
}

.contact-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #aaa;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    font-size: 12px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-size: 20px;
    font-weight: 400;
}

.contact-email {
    font-size: 16px;
    font-weight: 400;
    color: #29abe2;
}

.contact-email a {
    color: #1f8cf0;
}

.contact-details-card {
    padding: 32px;
    border-radius: 12px;
    max-width: 600px;
}

.contact-details-header {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}

.contact-details-avatar-big {
    width: 120px;
    height: 120px;
    background-color: gray;
    border-radius: 50%;
    font-size: 47px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-details-name-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-details-name-actions h2 {
    font-size: 47px;
    font-weight: 100;
}

.contact-details-actions {
    display: flex;
    gap: 16px;
}

.contact-details-card-icon-button {
    border: none;
    color: #2a3647;
    background-color: #f6f7f8;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    padding: 4px;
}

.contact-details-info-block {
    margin-top: 24px;
}

.contact-details-info-block h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
}

.contact-details-info-block p {
    font-size: 16px;
    font-weight: 400;
}

.contact-details-info-block a {
    color: #1f8cf0;
}

/* Add new contact Button */

.add-new-contact-button {
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
    background-color: #2a3647;
    border-radius: 8px;
    font-weight: 700;
    border: unset;
    cursor: pointer;
    font-size: 21px;
    margin-bottom: 16px;
    padding: 8px 50px;
}

.add-new-contact-button:hover {
    background-color: #29abe2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.add-new-contact-button-div {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101px;
    top: 0px;
    background-color: white;
}