* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--lightGrey);
}

.content-wrapper {
  height: 100vh;
  max-width: 1668px;
  padding: 80px 76px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.d-none {
  display: none;
}

.invisible {
  visibility: hidden;
}

.idx-overlay {
  z-index: 5;
  position: fixed; /* Referenz für das Kind-Element (Logo) */
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;

  animation: showBackground 1s ease-in forwards;
}

.floating-logo {
  position: absolute;
  height: 200px;
  /* border: 1px solid red; */

  top: 50%;
  left: 50%; /* die beiden positionieren das linke obere Eck in der Mitte*/
  transform: translate(-50%, -50%) scale(1); /* das verschiebt das Logo in die wirkliche Mitte */
  animation: moveToCorner 1s ease forwards;
}


@keyframes moveToCorner {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: 41px; /* erwartet: 80px, s. l. 15 */
    left: 43px; /* erwartet: 76px, s. l. 15 */
    transform: translate(0, 0) scale(0.61);
  }
}

@keyframes showBackground {
  0% {
    background-color: rgba(255, 255, 255, 1);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}


.d-none {
  display: none;
}


.index-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.index-title img {
  width: 100px;
  height: 122px;
}

.index-title > div {
  display: flex;
  align-items: center;
  gap: 32px;
}

.sign-up > p {
  font-size: 20px;
  letter-spacing: 0.7px;
}

.sign-up button {
  border: none;
  background-color: var(--dark);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  padding: 15px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 80ms ease-in-out;
}

.dialogue-frame {
  position: relative;
  width: 652px;
  height: 449px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  border-radius: 30px;
  padding: 48px 115px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);

  &.signup-height {
    width: 598px;
    height: 630px;
    padding: 48px 88px;
  }
}

.blue-arrow {
  position: absolute;
  top: 68px;
  left: 52px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 16px;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.input-frame {
  width: 422px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--borderGrey);
  padding: 12px 21px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  &.reduced-margin {
    margin-bottom: 24px
  }

  &:hover,
  &:has(input:focus) {
    border: 1px solid var(--lightBlue);
  }
}

.input-frame > input {
  /* color: var(--borderGrey); */
  color: var(--black);
  font-size: 20px;
  display: flex;
  flex: 1;
  border: none;
  cursor: pointer;
}

/* Firefox et al.; W3Schools */
input::placeholder {
  color: var(--borderGrey);
  opacity: 1;
}

input:focus { 
  outline: none;
  background-color: var(--white);
}

.login-btns {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  margin-top: 24px;
}

.login-btns > .btn:first-of-type,
.login-btns > .signup-now {
  border: none;
  background-color: var(--dark);
  color: var(--white);
  font-weight: 700;
  font-size: 21px;
  padding: 11px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 80ms ease-in-out;
}

.login-btns > .signup-now {
  padding: 15px 24px;
}

.login-btns > .btn:last-of-type {
  border: 1px solid var(--dark);
  background-color: var(--white);
  color: var(--dark);
  font-weight: 700;
  font-size: 21px;
  padding: 11px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 80ms ease-in-out;
}

.sign-up button:hover,
.login-btns > .btn:first-of-type:hover,
.login-btns > .signup-now:hover {
  background-color: var(--lightBlue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.login-btns > .btn:last-of-type:hover {
  border: 1px solid var(--lightBlue);
  color: var(--lightBlue);
  box-shadow: 0 0 0 1px rgba(41, 171, 226),
    0 4px 4px rgba(0, 0, 0, 0.25);
}

.acceptPP {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sidebarNoticeGrey);
  margin-top: 10px;
  margin-bottom: 36px;
  column-gap: 8px;
  letter-spacing: 0.5px;

  > p > a {
    color: var(--lightBlue);
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid var(--lightBlue);
      font-weight: 500;
    }
  }
}
/* Der Unterstrich ist zu nahe */
/* font-weight 600 wäre zu viel, 500 sieht man nicht */

.legal-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
}

.legal-part > a {
  padding: 8px 0;
  text-decoration: none;
  color: var(--sidebarNoticeGrey);
  letter-spacing: 0.65px;

  &:hover {
    color: var(--lightBlue);
    font-weight: 700;
    letter-spacing: 0.5px;
  }
}

