* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar-wrapper {
  width: 232px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--sidebarGrey);
  font-family: "Inter", sans-serif;
  padding: 64px 0;
}

.sidebar-wrapper > a > img {
  width: 100px;
  height: 122px;
  margin-left: 66px;
  margin-right: 66px;
  cursor: pointer;
}

.sidebar-wrapper > nav {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  /* height: 229px; */
}

.sidebar-nav a {
  text-decoration: none;
  color: var(--sidebarGrey);
  font-size: 16px;
}

.nav-element {
  width: 232px;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 8px 53px;
  column-gap: 8px;
  cursor: pointer;
}

.nav-element:hover {
  color: var(--white);
  background-color: var(--darkHover);
  transition: all 225ms ease-in-out;
}

.nav-element > img {
  width: 30px;
  height: 30px;
}

.sidebar-icon {
  color: var(--sidebarGrey);
}

.nav-element:hover .sidebar-icon {
  color: var(--white);
}

.legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  row-gap: 4px;
}

.legal > a {
  text-decoration: none;
  height: 35px;
  color: var(--sidebarNoticeGrey);
  padding: 8px;
  cursor: pointer;
}
