* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--dark: #2A3647;
--darkHover: #091931;
--black: #000000;
--lightBlue: #29ABE2;
--white: #FFFFFF;
--lightGrey: #F6F7F8;
--grey: #E7E7E7;
--sidebarGrey: #CDCDCD;
--sidebarNoticeGrey: #A8A8A8;
--darkBlue: #42526E;
--statusBarGrey: #F4F4F4;
--statusBarBlue: #4589FF;
--userStory: #0038FF;
--technicalTask: #1FD7C1;
--urgent: #FF3D00;
--middle: #FFA800;
--low: #7AE229;


--yellow: #FFBB2B;
--orange: #FF7A00;
--pink: #FC71FF;
--lila: #9327FF;
--violet: #6E52FF;
--darkViolet: #42526E;
--red: #FF4646;
--petrol: #00BEE8;
--menthol: #1FD7C1;
}

.sidebar-wrapper {
  width: 232px;
  height: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--sidebarGrey);
  font-family: "Inter", sans-serif;
  padding: 64px 0;
}

.sidebar-wrapper a {
  text-decoration: none;
  color: inherit;
  /* font-family: "Inter", sans-serif; */
  font-size: 16px;
}

.sidebar-wrapper > img {
  width: 100px;
  height: 122px;
  margin-left: calc((232px - 100px) / 2); /*oder einfach: 66px*/
  margin-right: calc((232px - 100px) / 2); /*oder einfach: 66px*/
}

nav {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  height: 229px;
}

.nav-element {
  width: 232px;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 8px 53px;
  column-gap: 8px;
  cursor: pointer;
}

.nav-element:hover {
  color: var(--white);
  background-color: var(--darkHover);
  transition: all 225ms ease-in-out;
}

/* .nav-content {
  display: flex;
  align-items: center;
  column-gap: 8px;
} */

.nav-element img {
  width: 30px;
  height: 30px;
}

.legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 229px;
  width: 232px;
  row-gap: 4px;
}

.legal > a {
  height: 35px;
  color: var(--sidebarNoticeGrey);
  padding: 8px;
  cursor: pointer;
}
