/* BASCIC PAGE LAYOUT */
/* .app-container {
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 232px;
  height: 100%;
  background-color: var(--dark);
}

.main-content {
  margin-left: 232px;
  width: calc(100% - 232px);
  display: flex;
  flex-direction: column;

  header {
    position: sticky;
    top: 0;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }*/

  /* .container{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    padding-top: 108px;
    padding-left: 96px;
    overflow-y: auto;
    background-color: var(--lightGrey);
  } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--lightGrey);
}

/* SUMMARY CONTENT */
.summary-wrapper {
  width: 1150px;
  height: 700px;
  display: flex;
  flex-direction: column;
  row-gap: 48px!important;
}

.smry-title {
  display: flex;
  align-items: center;
  column-gap: 30px;

  > p:first-of-type {
    font-weight: 700;
    font-size: 61px;
    color: var(--black);
    letter-spacing: 1.8px;
  }

  > p:last-of-type {
    font-size: 27px;
    color: var(--dark);
    letter-spacing: 1.2px;
  }

  > #horizontal-blue {
    display: none;
  }
}

.smry-body {
  display: flex;
  column-gap: 82px;
}

.button-field {
  width: 560px;
  height: 576px;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .btn-row {
    width: 560px;
    height: 184px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* button frame, hover and scale settings */
.summary-btn {
  width: 264px;
  height: 168px;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--dark);
  text-decoration: none;
  /* transition: all 80ms ease-in-out; */

  &.first:first-of-type {
  transform-origin: left center;
  
    &:hover {
      transform: scaleX(1.068) scaleY(1.095); 
    }
  }

  &.first:last-of-type {
    transform-origin: right center;

    &:hover {
      transform: scaleX(1.068) scaleY(1.095); 
    }
  }

  &.middle {
  transform-origin: left center;

    &:hover {
      transform: scaleX(1.032) scaleY(1.095); 
    }
  }

  &.last:first-of-type {
  transform-origin: left center;

    &:hover {
      transform: scale(1.095); 
    }
  }

  &.last:nth-of-type(2) {
    transform-origin: center;

    &:hover {
      transform: scale(1.095); 
    }
  }

  &.last:last-of-type {
    transform-origin: right center;

    &:hover {
      transform: scale(1.095); 
    }
  }
 
  &:hover {
    background-color: var(--dark);
    color: var(--white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    .btn-content-first {
      transform: scaleX(0.936) scaleY(0.913);
    }

    .middle-content-frame {
      transform: scaleX(0.969) scaleY(0.913) translateX(-2%);
    }

    .btn-content-last {
      transform: scale(0.915);
    }

    .urgent-text {
      color: var(--white);
    }

    .smry-icon {
      background-color: var(--white);
    }

    .icon-path {
      color: var(--dark);
    }

    .smry-number {
      color: var(--white);
    }
  }

  .icon-path {
    color: var(--white);
  }
}

/* 2nth and 3th row */
.middle {
  width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 54px;
}

.summary-btn.last {
  width: 168px;
}

.btn-content-first {
  height: 101px;
  display: flex;
  align-items: center;
  text-align: center;
  column-gap: 30px;

  .text-first-row {
    font-size: 20px;
  }
}

.middle-content-frame {
  justify-content: center;
  column-gap: 54px;
  height: 96px;
  display: flex;
  align-items: center;
  text-align: center;
}

/* ORIGINAL, NICHT ÄNDERN */
.btn-content-second {
  width: 140px;
  display: flex;
  align-items: center;
  text-align: center;
  column-gap: 15px;
  color: var(--dark);
  text-decoration: none;
}

.btn-content-last {
  height: 125px;
  width: 90px;
  text-align: center;

  .text-last-row {
    font-size: 20px
  }
}

.smry-icon {
  width: 69px;
  height: 69px;
  border-radius: 50px;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.smry-urgent{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: var(--summaryOrange);
  display: flex;
  justify-content: center;
  align-items: center;
}

.smry-number {
  font-size: 64px;
  font-weight: 600;
  color: var(--black);
}

.smry-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;

  .date-text {
    font-weight: 700;
    font-size: 21px;
  }
}

/* Greeting */
.hello-user {
  display: flex;
  justify-content: center;
  flex-direction: column;

  > p:first-of-type {
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 1.1px;
    color: var(--dark);
  }

  > p:last-of-type {
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 1.3px;
    color: var(--lightBlue);
  }
}

@media (max-width: 1480px) {
  .container.smr-margin {
    padding: 108px calc(66px + (100vw - 1025px) * 0.4967)!important;
  }

  .summary-wrapper {
    max-width: 633px;
    height: 100%;
    width: auto;
    row-gap: 32px!important;
  }

  .smry-body {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 32px;
  }

  .hello-user {
    display: flex;
    text-align: center;
    width: 630px;

    > p:first-of-type {
      font-size: 36px; /* 48 */
    }

    > p:last-of-type {
      font-size: 48px;  /* 64 */
    }
  }
}

@media (max-width: 1024px) {
  .container.smr-margin {
    padding: 108px calc(60px + (100vw - 768px) * 0.45703)!important;
  }
}

@media (max-width: 768px) {
  .container.smr-margin {
    padding: 46px calc(16px + (100vw - 480px) * 0.26389)!important;
  }

  /* irrelevant; nur zur Übersicht; kann nachher wieder weg */
  /* .summary-wrapper {
    border: 1px solid red;
  } */

  .smry-title {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    width: auto;

    > p:first-of-type {
      font-size: calc(48px + (100vw - 480px) * 0.04514);
      padding-bottom: 4px;
    }

    > p:last-of-type {
      font-size: calc(20px + (100vw - 480px) * 0.02431);
      letter-spacing: calc(0 + (100vw - 480px) * 0.00417);;
    }

    > #vertical-blue {
      display: none;
    }

    > #horizontal-blue {
      display: block;
      margin-top: 13px;
      width: calc(96px + (100vw - 480px) * 0.20139);
    }
  }

  .smry-body {
    flex-direction: column;
  }

  .button-field {
    width: calc(430px + (100vw - 480px) * 0.45139)!important;
    height: calc(450px + (100vw - 480px) * 0.4375)!important;
    /* border: 1px solid green; */
  
    .btn-row {
      width: calc(430px + (100vw - 480px) * 0.45139)!important;
      height: calc(142px + (100vw - 480px) * 0.14583)!important;
      /* border: 1px solid green; */
    }
  }

  .summary-btn {
    width: calc(200px + (100vw - 480px) * 0.22222)!important;
    height: calc(128px + (100vw - 480px) * 0.13889);
  
    &.middle {
      width: calc(430px + (100vw - 480px) * 0.45139)!important;
      column-gap: 20px; /* BAUSTELLE; EV. GAR NICHT DAS */
      /* border: 1px solid green; */
    }

    &.last {
      width: calc(126px + (100vw - 480px) * 0.14583)!important;
    }
  }
}

/* hart gecodeter Zwischenstand am breakpoint */
@media (max-width: 480px) {
  .container.smr-margin {
    padding: 46px 16px!important;
  }

  .button-field {
    width: 431px;
    height: 450px!important;
  }

  .smry-title {
  > p:first-of-type {
      font-size: 48px;
    }

  > p:last-of-type {
      font-size: 20px;
      letter-spacing: 0px;
    }

  > #horizontal-blue {
      width: 96px;
    }
  }
}

@media (max-width: 330px) {
  .container.smr-margin {
    padding: 46px 16px 0!important;
  }

  .summary-wrapper {
    width: 298px;
  }

  .btn-row {
    height: 142px!important;
  }
}

